h1 {
    color: aliceblue;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.login-form-box {
    width: 30%;
    min-width: 200px;
    margin-top: 100px;
    color: aliceblue;
    background-color: rgba(33, 38, 41, 0.95);
    box-shadow: 0 0 50px aliceblue;
    border-radius: 15px;
}

.single-form-line {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.form-label {
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}

.form-control {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: aliceblue;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px aliceblue;
    border: none;
}

